<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:beans="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
		                    http://www.springframework.org/schema/security
		                    http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true" use-expressions="false" >
        <intercept-url pattern="/newsmanagement" access="ROLE_ADMIN, ROLE_USER" />
        <intercept-url pattern="/newslistpage" access="ROLE_ADMIN"/>
        <intercept-url pattern="/addnewspage" access="ROLE_USER"/>
        <csrf disabled="true"></csrf>
    </http>

    <beans:bean id="passwordEncoder"
            class="org.springframework.security.crypto.password.NoOpPasswordEncoder" factory-method="getInstance"/>


    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="000" authorities="ROLE_ADMIN" />
                <user name="user" password="111" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>