<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:beans="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
		                    http://www.springframework.org/schema/security
		                    http://www.springframework.org/schema/security/spring-security.xsd">

    
    <http use-expressions="false" create-session="stateless" entry-point-ref="digestEntryPoint">
        <intercept-url pattern="/" access="ROLE_ADMIN, ROLE_USER" />
        <intercept-url pattern="/newslistpage"  access="ROLE_ADMIN"/>
        <intercept-url pattern="/viewnews"  access="ROLE_ADMIN"/>
        <intercept-url pattern="/editnews"  access="ROLE_ADMIN"/>
        <intercept-url pattern="/deletenews"  access="ROLE_ADMIN"/>
        <intercept-url pattern="/deletesignednews"  access="ROLE_ADMIN"/>
        <intercept-url pattern="/addnews" access="ROLE_ADMIN, ROLE_USER"/>
        <csrf disabled="true"></csrf>

        <!--There is no namespace for Digest Authentication, so we have to define beans explicitly-->
        <custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER" />
    </http>



    <beans:bean id="digestFilter" class=
            "org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
        <beans:property name="userDetailsService" ref="jdbcUserService" />
        <beans:property name="authenticationEntryPoint" ref="digestEntryPoint" />
    </beans:bean>

    <beans:bean id="digestEntryPoint" class=
            "org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
        <beans:property name="realmName" value="someRealm"/>
        <beans:property name="key" value="anyKey" />
    </beans:bean>

    <beans:bean id="passwordEncoder"
            class="org.springframework.security.crypto.password.NoOpPasswordEncoder" factory-method="getInstance"/>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource" id="jdbcUserService"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>