<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:beans="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
		                    http://www.springframework.org/schema/security
		                    http://www.springframework.org/schema/security/spring-security.xsd">

    
    <http use-expressions="false" create-session="stateless" entry-point-ref="digestEntryPoint">
        <intercept-url pattern="/" access="ROLE_ADMIN, ROLE_USER" />
        <intercept-url pattern="/newslistpage"  access="ROLE_ADMIN"/>
        <intercept-url pattern="/addnews" access="ROLE_USER"/>
        <csrf disabled="true"></csrf>
        <!--<http-basic/>-->

        <!--There is no namespace for Digest Authentication, so we have to define beans explicitly-->
        <custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER" />


        <!--<form-login login-page="/login"-->
                    <!--login-processing-url="/j_spring_security_check"-->
                    <!--default-target-url="/"-->
                    <!--always-use-default-target="true"-->
                    <!--username-parameter="user_login"-->
                    <!--password-parameter="user_password"-->
                    <!--authentication-failure-url="/login?error=true"/>-->

        <!--<access-denied-handler error-page="/accessdenied"/>-->
        <!--<logout logout-success-url="/login" logout-url="/j_spring_security_logout"/>-->

        <!--<remember-me remember-me-parameter="spring_security_remember_me" token-validity-seconds="86400"/>-->
    </http>

    <beans:bean id="digestFilter" class=
            "org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
        <beans:property name="userDetailsService" ref="jdbcUserService" />
        <beans:property name="authenticationEntryPoint" ref="digestEntryPoint" />
    </beans:bean>

    <beans:bean id="digestEntryPoint" class=
            "org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
        <beans:property name="realmName" value="someRealm"/>
        <beans:property name="key" value="anyKey" />
    </beans:bean>


    <beans:bean id="passwordEncoder"
            class="org.springframework.security.crypto.password.NoOpPasswordEncoder" factory-method="getInstance"/>


    <authentication-manager>
        <authentication-provider>
            <!--<user-service>
                <user name="admin" password="000" authorities="ROLE_ADMIN" />
                <user name="user" password="111" authorities="ROLE_USER" />
            </user-service>*/-->
            <jdbc-user-service data-source-ref="dataSource" id="jdbcUserService"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>